<!DOCTYPE html>
<html>
<head>
  <title>Photo Gallery</title>
  <style>
    img {
      width: 200px;
      margin: 10px;
      border-radius: 8px;
    }
  </style>
</head>
<body>

<h1>My Photo Gallery</h1>

<div>
  <% images.forEach(function(img) { %>
    <img src="/images/<%= img %>" alt="photo">
  <% }); %>
</div>

</body>
</html>
